{% extends 'dashboard/layout.html' %}
{% load static %}
{% load i18n %}
{% load model_tags %}
{% block css %}
{% endblock css %}
{% block subheader %}

    <div class="kt-subheader   kt-grid__item" id="kt_subheader">
        <div class="kt-container">
            <div class="kt-subheader__main">
                <button class="kt-subheader__mobile-toggle kt-subheader__mobile-toggle--left" id="kt_subheader_mobile_toggle"><span></span></button>
                <h3 class="kt-subheader__title">
                    {{ app_name|title }} </h3>
                <span class="kt-subheader__separator kt-hidden"></span>
                <div class="kt-subheader__breadcrumbs">
                    <a class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                    <span class="kt-subheader__breadcrumbs-separator"></span>
                    <a href="{% url 'dashboard:home' %}" class="kt-subheader__breadcrumbs-link">
                        {% trans "dashboard"|capfirst %} </a>
                    <span class="kt-subheader__breadcrumbs-separator"></span>
                    <a href="{{ worker.get_view_url }}" class="kt-subheader__breadcrumbs-link">
                        {{ worker.user.first_name }} </a>
                    <span class="kt-subheader__breadcrumbs-separator"></span>
                    <a href="{{ patient.get_view_url }}" class="kt-subheader__breadcrumbs-link">
                        {{ patient.first_name }} </a>
                </div>
            </div>

            <div class="kt-subheader__toolbar">
                <div class="kt-subheader__wrapper">
                    <a href="#" class="btn kt-subheader__btn-primary">
                        {% now 'l, d F Y' %}&nbsp;
                        <i class="flaticon2-calendar-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock subheader %}
{% block content %}
<form action="" method="POST" enctype="multipart/form-data" class="kt-form" id="kt_form">
  {% csrf_token %}
    <div class="row">
      <div class="col-lg-4">
        <!--begin::Portlet-->
        <div class="kt-portlet kt-portlet--mobile">
          <div class="kt-portlet__head">
            <div class="kt-portlet__head-label">
              <h3 class="kt-portlet__head-title">
                {% trans "add event"|capfirst %} <small>{{ request.user.username }}</small>
              </h3>
            </div>
          </div>
          <div class="kt-portlet__body">
            <div class="row">
              <div class="col-lg-12">
                {% include "forms/field.html" with field=event_form.service %}
                {% include "forms/field_date.html" with field=event_form.date %}
              </div>
              <div class="col-lg-6">
                {% include "forms/field_time.html" with field=event_form.start_time %}
              </div>
              <div class="col-lg-6">
                {% include "forms/field_time.html" with field=event_form.end_time %}
              </div>
              <div class="col-lg-12">
                {% include "forms/textarea.html" with field=event_form.description %}
              </div>
              <div clas="col-lg-12">
                  <button type="submit" class="btn btn-brand">
                      <i class="la la-check"></i>
                      <span class="kt-hidden-mobile">
                          {% trans "save"|title %}
                      </span>
                  </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class ="col-lg-12">
            {% calendar_patient patient lang %}
          </div>
        </div>
      </div>
    </div>
</form>
{% endblock content %}

{% block js %}
  <script type="text/javascript">
      jQuery(document).ready(function() {
          $('#id_machines').select2();
      });
      {% if update %}
         $(function() {
          $( ".datepicker" ).datepicker({ format: 'dd/mm/yyyy', orientation: "bottom auto", locale: 'es', lang: 'es'  });
        });
      {% else %}
         $(function() {
              $( ".datepicker" ).datepicker({ format: 'dd/mm/yyyy', orientation: "bottom auto", locale: 'es', lang: 'es'  }).datepicker("setDate", new Date());;
        });
      {% endif %}
  </script>
{% endblock js %}
