{% extends "layout.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div id="page">
        <!-- HEADER -->
        {% block header %}
            {% include "header.html" with menu=True search=True%}
        {% endblock header %}
        <section id="home" class="padbot0">
            {% include "layout/slide.html" %}
        </section><!-- //HOME -->

        <!-- Service -->
        <section id="service">

            <!-- SERVICES -->
                {% include "layout/services.html" with item=service %}
            <!-- //SERVICES -->

            <!-- CLEAN CODE -->
            <div class="cleancode_block">
                {% include "layout/especialised_unit.html" with items=eunit %}
            </div><!-- //CLEAN CODE -->

            <!-- MULTI PURPOSE -->
            <div class="purpose_block">

                <!-- CONTAINER -->
                <div class="container">

                    <!-- ROW -->
                    <div class="row">

                        <div class="col-lg-7 col-md-7 col-sm-7" data-appear-top-offset="-200" data-animated="fadeInLeft">
                            <h2><b>OBRADOIROS DE ESTIMULACIÓN: ALZHEIMER/DEMENCIAS</b></h2>
                            <p>Tras ser diagnosticado de una enfermedad neurodegenerativa, comienza un largo camino. El mantenimiento de las capacidades cognitivas es fundamental para el mantenimiento de la calidad de vida de la persona diagnosticada y sus familiares, ya que significa mantener su autonomía durante más tiempo.

                        Para ello contamos con talleres de estimulación cognitivo-funcional. Un servicio prestado por profesionales especializados en demencia y deterioro cognitivo y pionero en nuestra comarca, con el que daremos respuesta y apoyo a las necesidades especificas de cada persona y, a través de un completo plan de intervención.

                        Se pretende mantener las habilidades, conocimientos y conductas que aun se poseen, utilizando para ellos técnicas especificas dirigidas al entrenamiento en las actividades de la vida diaria (AVD), orientación a la realidad, estimulación cognitiva y estimulación funcional.

                        Todo ello complementado con un servicio de apoyo y asesoramiento a familiares y cuidadores, con el que resolveremos cualquier duda que se plante en relación a la enfermedad, daremos técnicas de soporte emocional, de como tratar los conflictos que puedan surgir y como afrontarlos en relación a la enfermedad, consejos de fomento del autocuidado, manejo de situaciones y emociones negativas y asesoramiento/adaptación de productos de apoyo para mejorar el día a día de la persona con deterioro cognitivo.</p>

                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-5 ipad_img_in" data-appear-top-offset="-200" data-animated="fadeInRight">
                            <img class="ipad_img1" src="{% static 'img/img3.jpg' %}" alt="" />
                        </div>
                    </div><!-- //ROW -->
                </div><!-- //CONTAINER -->
            </div><!-- //MULTI PURPOSE -->
        </section><!-- //Service -->


        <!-- PROJECTS -->
        <section id="projects" class="padbot20">

            <!-- CONTAINER -->
            <div class="container">
                <h2><b>Servizos</b></h2>
            </div><!-- //CONTAINER -->

            <div class="projects-wrapper" data-appear-top-offset="-200" data-animated="fadeInUp">
                <!-- PROJECTS SLIDER -->
                <div class="owl-demo owl-carousel projects_slider">

                    <!-- work1 -->
                    <div class="item">
                        <div class="work_item">
                            <div class="work_img">
                                <img src="{% static 'img/img3.jpg' %}" alt="" />
                                <a class="zoom" href="img/img3.jpg" rel="prettyPhoto[portfolio1]" ></a>
                            </div>
                            <div class="work_description">
                                <div class="work_descr_cont">
                                    <a href="portfolio-post.html" >OBRADOIROS DE ESTIMULACIÓN: ALZHEIMER/DEMENCIAS</a>
                                    <span>17 March, 2041</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- //work1 -->

                    <!-- work2 -->
                     <div class="item">
                        <div class="work_item">
                            <div class="work_img">
                                <img src="{% static 'img/img3.jpg' %}" alt="" />
                                <a class="zoom" href="img/img3.jpg" rel="prettyPhoto[portfolio1]" ></a>
                            </div>
                            <div class="work_description">
                                <div class="work_descr_cont">
                                    <a href="portfolio-post.html" >UNIDAD DE MEMORIA</a>
                                    <span>17 March, 2041</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- //work2 -->

                    <!-- work3 -->
                   <div class="item">
                        <div class="work_item">
                            <div class="work_img">
                                <img src="{% static 'img/img3.jpg' %}" alt="" />
                                <a class="zoom" href="img/img3.jpg" rel="prettyPhoto[portfolio1]" ></a>
                            </div>
                            <div class="work_description">
                                <div class="work_descr_cont">
                                    <a href="portfolio-post.html" >TERAPIA OCUPACIONAL</a>
                                    <span>17 March, 2041</span>
                                </div>
                            </div>
                        </div>
                    </div><!-- //work3 -->


                </div><!-- //PROJECTS SLIDER -->
            </div>



        <section id="location">
            <div class="row" data-appear-top-offset="-200" data-animated="fadeInUp">
                <div class="map_contact">
                {% include "block/_block_mapleaflet.html" with location=contact_us %}
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
