{% load leaflet_tags %}

{% leaflet_map "prueba" callback="window.map_init_basic" %}

{% block js %}
    <script type="text/javascript">
    function map_init_basic (map, options) {
        map.setView([ {{ location.latitude }}, {{ location.longitude }} ], 16);

            var content = "{{ location.name|title }}"+
                      "<br />{{ location.latitude|floatformat:7 }},{{ location.longitude|floatformat:7 }}";

            L.marker([ {{ location.latitude }}, {{ location.longitude }} ], {
                draggable: false,        // Make the icon dragable
                title: '{{ location.name|title }}',     // Add a title
                opacity: 0.5}
            ).addTo(map)
            .bindPopup(content)
            .openPopup();

    }
    </script>
{% endblock js %}
