{% load mptt_tags %}
{% load model_tags %}

{% recursetree node %}

{% if hook == 'hf' %}

    <ul class="menu vertical medium-horizontal expanded medium-text-center" data-responsive-menu="drilldown medium-dropdown">
        <li class="has-submenu">
            <a href="{% if node.url %}/{{ lang }}{{ node.url }}{% else %}{% endif %}">{{ node.name }}</a>
            {%  children node 'hf' lang %}
        </li>
    </ul>

{% elif hook == 'hd' %}
    <li class="kt-menu__item  kt-menu__item--submenu kt-menu__item--rel" data-ktmenu-submenu-toggle="click" aria-haspopup="true"><a href='{% if node.url %}/{{ lang }}{{ node.url }}{% else %}{% endif %}' class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">{{ node.name|title }}</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a>
        {%  children node 'hd' lang %}
    </li>
{% endif %}

{% endrecursetree %}
