<div class="services_block padbot40" data-appear-top-offset="-200" data-animated="fadeInUp">
        <!-- CONTAINER -->
        <div class="container">

            <!-- ROW -->
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
                    <a class="services_item" href="javascript:void(0);" >
                        <p><b>Easy</b> Customize</p>
                        <span>Quality and very comfortable design, does not hurt the eyes and pleasant to use.</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
                    <a class="services_item" href="javascript:void(0);" >
                        <p><b>Modern</b> Design</p>
                        <span>Quality and unique design that meets all the requirements and trends of modern web design.</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
                    <a class="services_item" href="javascript:void(0);" >
                        <p><b>Responsive</b> Design</p>
                        <span>Design that will be equally beautifully displayed on all your devices, tablet, smartphone or computer.</span>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col-ss-12 margbot30">
                    <a class="services_item" href="javascript:void(0);" >
                        <p><b>Free</b> Updates & Support</p>
                        <span>Hour and great support template. You can always ask a question and we will help you.</span>
                    </a>
                </div>
            </div><!-- //ROW -->
        </div><!-- //CONTAINER -->
    </div>
