<div class="services_block padbot40" data-appear-top-offset="-200" data-animated="fadeInUp">
    <!-- CONTAINER -->
    <div class="container">
        <!-- ROW -->
        <div class="row">
            <div class="col-lg-12 margbot30 margtop20">
                <a class="services_item" href="javascript:void(0);" >
                    <h2><b>{{ item.name|title }}</b></h2>
                    {{ item.description|safe }}
                </a>
            </div>
            {% for service in item.service.all %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 col-ss-12 margbot30">
                <a class="services_item" href="javascript:void(0);" >
                    <p><b>{{ service.name|capfirst }}:</b></p>
                    <span>{{ service.description|safe  }}</span>
                </a>
            </div>
            {% endfor %}
        </div><!-- //ROW -->
    </div><!-- //CONTAINER -->
</div>
