<!-- TOP SLIDER -->
{% load static %}
{% block css %}
<style type="text/css" media="screen">

    .top_slider .slide1 {
    height: 100%;
    background-image: url({% static "img/img1.jpg" %})!important;
    background-size: cover;
    background-attachment: fixed !important;
    }
     .top_slider .slide2 {
    height: 100%;
    background-image: url({% static "img/img2.jpg" %})!important;
    background-size: cover;
    background-attachment: fixed !important;
    }
</style>
{% endblock css %}
<div class="flexslider top_slider">
    <ul class="slides">
        <li class="slide1">
            <div class="flex_caption1">
                <p class="title1 captionDelay2 FromTop">Alento</p>
                <p class="title2 captionDelay4 FromTop">Servizos</p>
                <p class="title4 captionDelay7 FromBottom">O confort dos nosos maiores e a nosa paixón</p>
            </div>
            <a class="slide_btn FromRight" href="javascript:void(0);" >Lee máis</a>
        </li>
        <li class="slide2">
            <div class="flex_caption1">
                <p class="title1 captionDelay6 FromLeft">Fala</p>
                <p class="title2 captionDelay4 FromLeft">Connosco</p>
                <p class="title4 captionDelay7 FromLeft">Expón o teu problema e nosotros prestaremosche axuda no menos tempo posible.</p>
            </div>
            <a class="slide_btn FromRight" href="javascript:void(0);" >Read More</a>
        </li>
    </ul>
</div>
<div id="carousel">
    <ul class="slides">
        <li><img src="{% static 'img/img1.jpg' %}" alt="" /></li>
        <li><img src="{% static 'img/img2.jpg' %}" alt="" /></li>
    </ul>
</div><!-- //TOP SLIDER -->
